@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: box-border;
}

.center {
	text-align: center;
}
/* --- Body --- */
html, body {
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
}
/* --- Navigation Bar --- */
nav {
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 100vw;
	top: 0;
	background: #0A79DF;
	z-index: 1;
}
/* --- Logo --- */
.logo {
	text-align: center;
	color: #fff;
	font-size: 40px;
	text-shadow: 5px 5px 10px #000;
	font-family: 'Work Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
}

.nav-content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-content div {
	margin: 0 25px;
}
nav a {
	font-size: 16px;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* --- Links --- */
a {
	color: white;
	text-decoration: none;
}

.card, .headerContent {
	border: 1px solid #222;
	padding: 50px;
	width: 400px;
	margin: 50px auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.35);
	line-height: 150%;
	font-size: 20px;
}
.headerContent, .middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width: 900px;
}

.button, select, input {
	background: #fff;
	font-family: 'Raleway', sans-serif;
	padding: 0 10px;
	margin: 2px 0;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	height: 37px;
	transition: 300ms ease;
}

.button:hover {
	background: #333;
	box-shadow: 2px 2px 7px #000;
	transform: scale(1.1);
	color: #fff;
}

header, .bg {
	background: #000428;
	background: -webkit-linear-gradient(to right, #000428, #004e92);
	background: linear-gradient(to right, #000428, #004e92);
	min-height: 80vh;
	position: relative;
}
.bg{min-height: 100vh;}
section{
	min-height: 80vh;
}

.heroMessage{
	color: #fff;
	font-size: 40px;
}

